.floating-bottom-right-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.create-game-btn {
  font-size: 30px;
  width: 100px;
  height: 100px;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.center-div {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-btn {
  background-color: #ff4848;
}

.dashboard-toolbar {
  font-family: "Varela Round", sans-serif;
  color: gray;
  font-size: 25px;
  box-shadow: #161616;
  font-weight: bold;
}
