<mat-toolbar class="dashboard-toolbar "
  >Games to Join

  <div>
    <button (click)="logout()">Logout</button>
  </div>
</mat-toolbar>

<div *ngIf="currentPlayer && currentPlayer.is_host">
  You have hosted a game, cannot see joinable games.
</div>

<div *ngIf="currentPlayer && currentPlayer.in_game && !currentPlayer.is_host">
  You have joined a game, cannot see joinable games.
</div>

<div>
  <div>
    <mat-grid-list cols="4" rowHeight="300px">
      <mat-grid-tile *ngFor="let game of games">
        <app-game-card [game]="game"></app-game-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <!-- Floating on bottom right -->
  <button
    mat-fab
    matTooltip="Host a new game"
    aria-label="Button that displays a tooltip when focused or hovered over"
    class="login-btn floating-bottom-right-btn create-game-btn"
    (click)="createGame()"
  >
    +
  </button>
</div>
